#locadora h1 { height: 43px; margin: 20px 20px 50px; line-height: 42px; font-size: 1.4em; color: #ffffff; background: url(/images/layum/locadora_tit_bg.gif) top left no-repeat;}
#locadora h1 img { margin-right: 15px; vertical-align:middle;}
#locadora #geral { padding: 0 20px; }
#locadora #geral h3 { margin-bottom: 20px; font-size: 1.4em; color: #335198; }
#locadora #geral #sobre { padding-bottom: 20px; font-size: 1.2em; color: #351b1b; }
#locadora #geral #sobre p { margin-bottom: 10px; }

#locadora #geral #precos { margin-bottom: 25px; }
#locadora #geral #precos .grupo { width: 42px; }
#locadora #geral #precos .modelos { width: 237px; }
#locadora #geral #precos .descricao { width: 141px; }
#locadora #geral #precos .diaria { width: 61px; }
#locadora #geral #precos .semanal { width: 84px; }
#locadora #geral #precos .mensal { width: 89px; }
#locadora #geral #precos .caucao { width: 73px; }
#locadora #geral #precos .btn { width: 86px; }

#locadora #geral #precos thead tr th,
#locadora #geral #precos tbody tr td  { border-right: 2px solid #ffffff; border-bottom: 2px solid #ffffff; background-repeat: no-repeat; }

#locadora #geral #precos thead tr th { height: 45px; background-color: #2d26ce; }
#locadora #geral #precos thead tr th.grupo { background-image: url(/images/layum/locadora_tabela_grupo_tit.gif); background-position: top left; }
#locadora #geral #precos thead tr th.caucao { background-image: url(/images/layum/locadora_tabela_caucao_tit.gif); background-position: top right; }
#locadora #geral #precos thead tr th.btn { background: none transparent; border-right: 0 none; }

#locadora #geral #precos tbody tr td { height: 40px; text-align: center; }
#locadora #geral #precos tbody tr.impar td { background-color: #aacce8; }
#locadora #geral #precos tbody tr.par td { background-color: #7db0db; }
#locadora #geral #precos tbody tr.ultimo td { border-bottom: 0 none; }
#locadora #geral #precos tbody tr.primeiro td.btn { background-image: url(/images/layum/locadora_tabela_btns_primeiro.gif); background-position: top right; } 
#locadora #geral #precos tbody tr.ultimo.par td.grupo { background-image: url(/images/layum/locadora_tabela_grupo_ultimo_par.gif); background-position: bottom left; }
#locadora #geral #precos tbody tr.ultimo.impar td.grupo { background-image: url(/images/layum/locadora_tabela_grupo_ultimo_impar.gif); background-position: bottom left; }
#locadora #geral #precos tbody tr.ultimo.par td.btn { background-image: url(/images/layum/locadora_tabela_btns_ultimo_par.gif); background-position: bottom right; }
#locadora #geral #precos tbody tr.ultimo.impar td.btn { background-image: url(/images/layum/locadora_tabela_btns_ultimo_impar.gif); background-position: bottom right; }
#locadora #geral #precos tbody tr td.modelos { text-align: left; }
#locadora #geral #precos tbody tr td.descricao { text-align: left; }
#locadora #geral #precos tbody tr td.btn a { display: block; width: 67px; height: 22px; margin: 0 auto; background: url(/images/layum/locadora_tabela_btn.png) center no-repeat; text-indent: -999em; overflow: hidden; }


#locadora #geral .adicional-tabela { padding-top: 20px; background: url(/images/layum/locadora_adicional-tabela.gif) top center no-repeat; }
#locadora #geral .adicional-tabela .cont { position: relative; background: url(/images/layum/locadora_adicional-tabela.gif) bottom center no-repeat; padding-bottom: 20px; margin-bottom: 30px; }
#locadora #geral .adicional-tabela .cont h4 { position: absolute; top: -28px; left: 30px; padding: 0 10px; background: #ffffff; font-size: 1.2em; }

#locadora #geral #legenda .cont dl { position: relative; width: 100%; height: 148px; }
#locadora #geral #legenda .cont dt,
#locadora #geral #legenda .cont dd { position: absolute; font-size: 1.1em; }
#locadora #geral #legenda .cont dt.duas_portas { top: 6px; left: 45px; padding: 10px 104px 8px 17px; }
#locadora #geral #legenda .cont dd.duas_portas { top: 54px; left: 52px; }
#locadora #geral #legenda .cont dt.quatro_portas { top: 6px; left: 191px; padding: 10px 131px 8px 0; }
#locadora #geral #legenda .cont dd.quatro_portas { top: 54px; left: 182px; }
#locadora #geral #legenda .cont dt.ar_condicionado { top: 6px; left: 347px; padding: 10px 131px 8px 0; }
#locadora #geral #legenda .cont dd.ar_condicionado { top: 54px; left: 322px; }
#locadora #geral #legenda .cont dt.direcao { top: 6px; left: 514px; padding: 10px 113px 8px 0; }
#locadora #geral #legenda .cont dd.direcao { top: 54px; left: 478px; }
#locadora #geral #legenda .cont dt.trio_eletrico { top: 6px; left: 655px; padding: 10px 74px 8px 0; }
#locadora #geral #legenda .cont dd.trio_eletrico { top: 54px; left: 636px; }
#locadora #geral #legenda .cont dt.cd_player { top: 6px; left: 752px; padding: 10px 39px 8px 0; }
#locadora #geral #legenda .cont dd.cd_player { top: 54px; left: 742px; }
#locadora #geral #legenda .cont dt.km_livre { top: 78px; left: 45px; padding: 10px 104px 2px 17px; }
#locadora #geral #legenda .cont dd.km_livre { top: 120px; left: 50px; }
#locadora #geral #legenda .cont dt.promocao { top: 78px; left: 62px; padding: 10px 39px 2px 0; }
#locadora #geral #legenda .cont dd.promocao { top: 120px; left: 25px; }

#locadora #geral #importante .cont div { padding: 0 25px; font-size: 1.1em; }
#locadora #geral #importante .cont div p { margin-bottom: 10px; }

#locadora #geral .box_cinza { position: relative; z-index: 1; margin-bottom: 35px; }
#locadora #geral .box_cinza .cont { position: relative; z-index: 3; padding: 20px 0; }
#locadora #geral .box_cinza .cont h4 { height: 26px; margin-bottom: 20px; padding: 0 20px; line-height: 26px; font-size: 1.2em; color: #ffffff; background: #335198; }
#locadora #geral .box_cinza .cont .subcont { padding: 0 20px; }

#locadora #geral .protecao dl { margin-bottom: -25px; line-height: 21px; font-size: 1.2em; }
#locadora #geral .protecao dl dt { font-weight: bold; }
#locadora #geral .protecao dl dd { margin-bottom: 25px; }

#locadora #geral #lojas form { padding: 10px 20px 30px; }
#locadora #geral #lojas form label { vertical-align: middle; font-size: 1.2em; font-weight: bold; color: #335198; }
#locadora #geral #lojas form input { vertical-align: middle; width: 250px; height: 24px; margin-left: 10px; border: 1px solid #335198; line-height: 24px; }
#locadora #geral #lojas form button { vertical-align: middle; width: 129px; height: 27px; margin-left: 25px; border: 0 none; background: url(/images/layum/btn_localizar_azul.png) center no-repeat; text-indent: -999em; overflow: hidden; cursor: pointer; }

#locadora #geral #lojas .loja .cont .subcont { position: relative; }
#locadora #geral #lojas .loja .cont .subcont .tipo { position: absolute; top: 50%; width: 39px; height: 39px; margin-top: -20px; background: center no-repeat; text-indent: -999em; overflow: hidden; }
#locadora #geral #lojas .loja .cont .subcont .tipo.aeroporto { background-image: url(/images/carro_icons/loja_aero_39.png); }
#locadora #geral #lojas .loja .cont .subcont .tipo.normal { background-image: url(/images/carro_icons/loja_normal_39.png); }
#locadora #geral #lojas .loja .cont .subcont .btn_reservar a { position: absolute; top: 50%; right: 72px; width: 116px; height: 50px; margin-top: -25px; background: url(/images/carro_icons/btn_reservar.png) center no-repeat; text-indent: -999em; overflow: hidden; }
#locadora #geral #lojas .loja .cont .subcont .btn_reservar.online a { background-image: url(/images/carro_icons/btn_reservar-online.png); }

#locadora #geral #lojas .loja .mais { margin: 0 210px -25px 90px; font-size: 12px; line-height: 21px; }
#locadora #geral #lojas .loja .mais p { margin-bottom: 25px; }
#locadora #geral #lojas .loja .mais p strong { display: block; }

#locadora #geral #gmaps { position: relative; margin-bottom: 40px; width: 828px; height: 350px; }
#locadora #geral #gmaps #map { width: 100%; height: 100%; background: url(/teste_gmaps.gif) center no-repeat; }
#locadora #geral #gmaps .general_rounded { position: absolute; width: 20px; height: 20px; background: url(/images/layum/gmaps_rounded_ffffff.png); }
#locadora #geral #gmaps .general_rounded.top.left { top: 0; left: 0; background-position: -20px -20px; }
#locadora #geral #gmaps .general_rounded.top.right { top: 0; right: 0; background-position: 0 -20px; }
#locadora #geral #gmaps .general_rounded.bottom.left { bottom: 0; left: 0; background-position: -20px 0; }
#locadora #geral #gmaps .general_rounded.bottom.right { bottom: 0; right: 0; background-position: 0 0; }